@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Encode Sans";
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.bold {
    font-weight: bold;
}

.globo {
    max-height: 100%;
    max-width: 100%;
}

nav {
    margin: 10px 0;
    border-top: 2px solid; color: #f5f6f7;
    border-bottom: 2px solid; color: #f5f6f7;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
}

.g1{color: #c4160c;}
.oglobo{color: #1e4d9c; }
.valor{color: #026665;}
.ge{color: #08aa47;}
.cartola{color: #e3662a;}
.globoplay{color: #fa1b45;}
.dropz{ color: #fe7bbd;}
.gshow{ color: #ee7e01;}
.quem{color: #343434;}
.receitas{color: #a81d84;}

main {
    height: 1000px;
    width: 1600px;
    display: flex;
    margin: 20px 50px;
}
main h1 {
    color: #2f3134;
    font-size: 20px;
    font-weight: bolder;
    line-height: 25px;
    padding: 6px 2px;  
}
main h2 {
    color: #2f3134;
    font-size: 14px;
    font-weight: lighter;
    line-height: 19px;  
}
.noticias-esquerda{
    width: 55%;
}
.noticia-principal{
    padding: 5px 30px;
    height: 300px;
}
.noticia-principal h1 {
    font-size: 52px;
    font-weight: 700;
    color: #C4160C;
    line-height: 67px;       
}
.noticia-principal h2 {
   font-size: 18px;
    font-weight: 500;
    color: #303134;
    justify-content: space-around; 
    line-height: 30px;   
}
.noticias-esquerda > .noticias-secundarias > div {
    display: flex;
    width: 850px;   
}
.noticias-esquerda > .noticias-secundarias > div div {
    width: 350px;
    padding: 30px;
}
.noticias-esquerda img {
    width: 193px; 
    Height:110px;
    border-radius: 12px;
}
.noticias-esquerda > .noticias-secundarias>div h3{
    color: #C4160C;
    font-size: 18px;
    font-weight: 550;
    line-height: 17,5px;
}

.noticias-direita img {
    width: 240px; 
    Height:128px;
    border-radius: 12px;
}
.noticias-direita {
    display: flex;
    width: 864px;
}

.noticias-direita .verdes >div{
    margin: 20px 30px;
    padding: 20px 0px;
}
.noticias-direita .laranja >div{
    margin: 20px 30px;
    padding: 20px 0px;
}

.noticias-direita .verdes  h3{
    color: #08aa47;
}
.noticias-direita .laranja  h3{
    color: #ee7e01;
}

footer {
    height: 3px;
    background-color: #f5f6f7;
}

.linha-divisoria {
    width: 800px;
    height: 1px;
    background-color: #f5f6f7;
}
.bordas-separadoras{
    width: 1px;
    background-color: #ebedef;
}